<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Time Tracking</h3>
          <div class="box-tools">
            <div class="input-group" style="width: 150px;">
              <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">

            <div class="panel-body" v-if="$loadingRouteData">
                Loading data {{ loadingRouteData }}
            </div>
            <div class="panel-body" v-if="messages.length > 0">
                <div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
                    {{ message.message }}
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                      <th>Start Date</th>
                      <th>Duration</th>
                      <th>Client</th>
                      <th>Task</th>
                      
                      <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a class="btn btn-primary" v-link="{ path: 'tracking/create'}">
                                Track Time
                            </a>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr v-for="timelog in timelogs" v-if=" ! $loadingRouteData && timelogs.length > 0">
                        <td>{{ timelog.startdate }}</td>
                        <td>{{ timelog.minutes }}</td>
                        <td>{{ timelog.company }}</td>
                        <td>{{ timelog.task_id }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" v-link="{ path: '/pm/tracking/'+timelog.id }">Edit</a>
                            <a class="btn btn-primary btn-xs" v-on:click="deleteTimelog($index)">Delete</a>
                        </td>
                    </tr>
                    <tr v-if=" ! $loadingRouteData && timelogs.length == 0">
                        <td colspan="6">There are no time logs to show</td>
                    </tr>
                </tbody>


            </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
</div>